body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.content-container {
    max-width: 800px; /* Set the max width */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Add padding inside */
}

.content-container img {
    width: 100%; /* Makes the image scale to the width of the container */
    height: auto; /* Maintains the aspect ratio */
}

header, section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}
