body {
    max-width: 700px; /* Set the max width */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Add padding inside */
    color: #333;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

body img {
    width: 100%; /* Makes the image scale to the width of the container */
    height: auto; /* Maintains the aspect ratio */
}

a, a:visited {
    color: #946666;
}

header, section {
    margin-bottom: 4em;
    border-bottom: 2px solid rgb(218, 213, 213);
}

h1, h2, h3, p {
    color: #333;
}

pre {
    background-color: #f0f0f0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow-x: auto;
    line-height: 1.4;
}

/* TODO: smaller code font size? */
code {
    /* font-family: Consolas, Monaco, 'Courier New', monospace; */
    border-radius: 3px;
    padding: 3px;
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}
